* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
.register_div:hover {
    box-shadow: black 5px 10px 15px;
    -webkit-transition: 0.6s;
}
.register_div {
    width: 45%;
    box-sizing: border-box;
    margin: 3rem auto;
    min-height: 40rem;
    text-align: center;
    padding: 3rem;
    border-radius: 20px;
    background-image: linear-gradient(to bottom right, #e66cff, #4662ff, #ccd6ff);
    box-shadow: black 3px 6px 9px;
}
.register_tag_name {
    margin-bottom: 30px;
}
.login_div:hover {
    box-shadow: black 5px 10px 15px;
    -webkit-transition: 0.6s;
}
.login_div {
    width: 35%;
    box-sizing: border-box;
    margin: 8rem auto;
    min-height: 20rem;
    text-align: center;
    padding: 2rem;
    border-radius: 20px;
    background-image: linear-gradient(to bottom right, #fd0000, #4662ff, #ccd6ff);
    box-shadow: black 3px 6px 9px;
}
.login_tag_name {
    margin-bottom: 30px;
}
label {
    display: inline;
    margin-bottom: 10px;
    font-weight: bold;
}
.new_song {
    width: 100%;
    box-sizing: border-box;
    display: none;
}
.col_3 {
    width: 32%;
    box-sizing: border-box;
}
.add_song h1 {
    color: white;
}
.add_song {
    width: 35%;
    box-sizing: border-box;
    margin: 8rem auto;
    min-height: 20rem;
    text-align: center;
    padding: 2rem;
    border-radius: 20px;
    background-image: linear-gradient(to bottom right, #e76cfa, #3b57ef, #ffffff);
    box-shadow: black 3px 6px 9px;
}
.addSong_tag_name {
    margin-bottom: 30px;
}
.get_mySong div:hover{
    border: red 3px solid;
    background: black;
    -webkit-transition: 0.6s;
}
.get_mySong {
    width: 70%;
    min-height: 700px;
    padding: 30px;
    background: #292929;
    margin: 20px auto;
    border: red 1px solid;
}
.my_info {
    width: 60%;
    height: 800px;
    margin: 0 auto;
    border: #ccd6ff 3px solid;
    background: rgba(0, 0, 0, 0.8);
    padding: 30px;
    box-sizing: border-box;
    text-align: center;
}
.index_name {
    width: 20%;
    height: 2rem;
    box-sizing: border-box;
    float: left;
}
.index_name label {
    float: left;
}
.input_register {
    width: 80%;
    height: 2rem;
    box-sizing: border-box;
    border-bottom: #5fff00 2px solid;
    float: left;
}
.input_login {
    width: 80%;
    height: 2rem;
    box-sizing: border-box;
    border-bottom: #5fff00 2px solid;
    float: left;
    display: block;
}
.input_login input {
    float: left;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: none;
    background: none;
}
.input_register input {
    float: left;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: none;
}
.index_name_col_min {
    width: 15%;
    height: 2rem;
    box-sizing: border-box;
    float: left;
}
.input_register_col_min {
    width: 35%;
    height: 2rem;
    box-sizing: border-box;
    border-bottom: #5fff00 2px solid;
    float: left;
}
.btn-submit_register input {
    width: 5rem;
    height: 2rem;
}
.btn-submit_register {
    margin-top: 30px;
}
.container {
    width: 100%;
    height: 2rem;
    margin-bottom: 1rem;
}
.input_register_col_min input {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    float: left;
    border: none;
}
input:focus {
    outline: none;
    color: white;
}
button:focus {
    outline: none;
}
.register_form input {
    background: none;
}
form ::placeholder {
    color: #c3c3c3;
    font-weight: bold;
    background: none;
    font-size: 90%;
}
.register_form input[type=date] {
    color: #c3c3c3;
}
label {
    color: white;
}
.register_form input[type=button] {
    background-image: linear-gradient(to bottom right, #ff3939, #5fff00);
    color: #000000;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    box-shadow: black 1px 2px 3px;
    margin: 0 20px;
    cursor: pointer;
}
.register_form input[type=button]:hover {
    box-shadow: black 2px 4px 6px;
    -webkit-transition: 0.6s;
}
.message_register {
    margin-top: 20px;
}
.msgerror_red {
    color: #ff0000;
    font-weight: bold;
    font-size: 20px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    padding: 0 20px;
}
.msgsuccses_green {
    color: #9fff65;
}
.login_btn input:hover {
    box-shadow: black 2px 4px 6px;
}
.login_btn input {
    width: 6rem;
    height: 2rem;
    margin-right: 20px;
    box-sizing: border-box;
    background-image: linear-gradient(to bottom right, #ff3939, #5fff00);
    box-shadow: black 1px 2px 3px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    -webkit-transition: 0.5s;
}
.login_btn {
    width: 100%;
    height: 2rem;
    margin-top: 20px;
    margin-bottom: 30px;
}
.container_login {
    margin: 10px 0;
    height: 2rem;
}
.menu {
    width: 15%;
    min-height: 12000px;
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    background-image: linear-gradient(to bottom right, #e66cff, #4662ff);
    text-align: center;
}
.conten_new_song {
    display: inline-block;
    width: 85%;
    min-height: 1200px;
    float: right;
    border-left: #ccd6ff 3px solid;
    background-image: linear-gradient(to bottom right, #e050ff, #3253ff,#e050ff, #3253ff);
    padding: 30px;
    box-sizing: border-box;
}
.get_mySong div p {
    color: white;
    font-size: 12px;
    font-weight: bold;
    float: left;
    padding-left: 5px;
}
.get_mySong div img {
    width: 70%;
    height: 70%;
    border-radius: 50%;
    border: #ff9191 3px solid;
    display: inline-block;
    outline: none;
    overflow: hidden;
}
.get_mySong div {
    width: 262px;
    height: 262px;
    display: inline-block;
    margin: 12px;
    text-align: center;
    border: #ccd6ff 1px solid;
    border-radius: 15px;
    box-sizing: border-box;
}
.conten_new_song div {
    width: 262px;
    height: 262px;
    display: inline-block;
    margin: 12px;
    text-align: center;
    border: #ccd6ff 1px solid;
    border-radius: 10px;
}
.conten_new_song div p {
    color: white;
    font-size: 12px;
    font-weight: bold;
    float: left;
    padding-left: 5px;
}
.conten_new_song div img {
    width: 70%;
    height: 70%;
    border-radius: 50%;
    border: #ff9191 3px solid;
    display: inline-block;
    outline: none;
    overflow: hidden;
}
.select_menu:hover {
    background: #000000;
    box-shadow: white 3px 6px 9px;
    -webkit-transition: 0.6s;
    border: none;
}
.select_menu {
    color: white;
    padding-top: 10px;
    font-weight: bold;
    font-size: 18px;
    list-style: none;
    cursor: pointer;
    height: 35px;
    width: 150px;
    margin: 50px auto;
    border-radius: 5px;
    border: white 1px solid;
}
.logo_app {
    color: beige;
    margin: 60px auto 20px auto;
    width: 170px;
    height: auto;
    display: block;
    border-radius: 50%;
    border: white 5px solid;
}
.rieng {
    background: none;
}
.close_add_song {
    position: fixed;
    top: 20px;
    right: 30px;
    color: #ff0000;
    font-size: 50px;
    cursor: pointer;
}
.close_profile1 {
    position: fixed;
    top: 30px;
    right: 40px;
    color: #ff0000;
    font-size: 50px;
    cursor: pointer;
    margin-top: 30px;
    margin-right: 30px;
}
.close_mysong {
    position: fixed;
    top: 30px;
    right: 40px;
    color: #ff0000;
    font-size: 50px;
    cursor: pointer;
    margin-top: 30px;
    margin-right: 30px;
}
.my_info img {
    width: 200px;
    height: 200px;
    border: white 5px solid;
    border-radius: 50%;
}
.my_info h1 {
    color: white;
    margin-bottom: 70px;
}
.my_info p {
    color: white;
    margin-bottom: 10px;
}
@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}
@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}
.modal-content {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.5s;
    animation-name: zoom;
    animation-duration: 0.5s;
}
.modal1 {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}
.modal2 {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}
.modal3 {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}
.modal4 {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}
.modal5 {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}
.modal6 {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}
.audio_play {
   margin:0 auto;
    width: 500px;
    display: block;
}
audio:focus {
    outline: none;
}
.ads {
    margin: 20px auto;
    right: 350px;
    width: 700px;
    border-left: #5fff00 1px solid;
    border-right: #5fff00 1px solid;
}
.audio_play_container p {
    color: red;
    font-size: 100%;
    font-weight: bold;
    font-style: italic;
}
.audio_play_container span {
    position: fixed;
    top: 20px;
    right: 40px;
    font-size: 50px;
    color: red;
    cursor: pointer;
}
.audio_play_container {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}
.audio_play_container img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: red 3px solid;
    margin: 100px auto;
    display: block;
    overflow: hidden;
}
@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.rotating {
    -webkit-animation: rotating 15s linear infinite;
    width:500px;
    height: 500px;
    background: red;
    border-radius: 50%;
    margin: 200px auto;
}
.on_audio_play{
    cursor: pointer;
    box-sizing: border-box;
}
.on_audio_play:hover {
    border: red 3px solid;
    background: black;
    -webkit-transition: 0.6s;
}
.load_ding {
    margin: 300px 49%;
    color: white;
    width: 50px;
    height: auto;
}

